.map {
  height: 400px;
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }
  to {
    margin-left: 0%;
    width: 100%;
  }
}

.serv {
  animation-duration: 1500ms;
  animation-name: slidein;
}

.servimg img {
  border-radius: 100px;
  height: 15rem;
}

section h2 {
  color: #548CA8;
}

.snimg {
  margin: 0 !important;
}

.banner {
  background-color: #334257;
  margin: 10px;
  border-radius: 20px;
  max-width: 300px;
  min-width: 180px;
}

.banner i {
  font-size: 80px;
  color: #548CA8;
  padding-top: 10px;
}

.banner h3 {
  color: white;
  color: #3b7cb5;
}

.btn {
  background-color: #548CA8;
}

.btn:hover {
  background-color: black !important;
  color: white !important;
}

.form-control {
  transition: 0.15s ease;
}

.cuadros {
  animation-duration: 1500ms;
  animation-name: agrandar;
}

/*--------------------------Efecto--------------------------*/
@keyframes agrandar {
  from {
    width: 200%;
    height: 200%;
  }
  to {
    width: 100%;
    height: 100%;
  }
}

@media (min-width: 768px) {
  #navbarNav ul {
    justify-content: end !important;
  }
  .carrouselphone {
    display: none;
  }
}

@media (max-width: 767px) {
  .tarjicono {
    width: 80% !important;
  }
  .servi {
    width: 90% !important;
  }
  .carouselcom {
    display: none;
  }
}

@media (max-width: 992px) {
  .boton {
    margin-top: 22px;
  }
}

* {
  list-style: none;
  text-decoration: none !important;
}

/*---------------------------nav---------------------------*/
.contenedor {
  margin-left: auto;
  margin-right: auto;
  padding: 0.35rem;
}

nav {
  background-color: #334257 !important;
}

nav ul li a {
  color: aliceblue !important;
  font-size: 18px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

.navbar-brand img {
  transform: scale(0.7);
}

ul li a {
  color: aliceblue !important;
  font-size: 13px;
  padding: 10px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  margin-top: 10px;
}

ul li a:hover {
  background-color: #EDEDED;
  color: #000033 !important;
  transition: 1s;
}

/*------------------------tarjetas------------------------*/
.row {
  justify-content: center;
}

.card:hover {
  /*--------*Efecto tarjeta*--------*/
  box-shadow: 5px 5px 20px rgba(32, 45, 100, 0.5);
  transform: translateY(-1%);
  transition: .3s;
}

/*---------------Internacion Domiciliaria---------------*/
.card {
  --bs-card-spacer-y: 0 ;
  padding-bottom: 10px;
  border: none;
}

.card h2 {
  font-family: 'Mulish', sans-serif;
  color: black;
}

.servicios img {
  padding: 3.125rem;
}

.card-img {
  -webkit-filter: grayscale(1);
  /* Webkit */
  filter: gray;
  /* IE6-9 */
}

.card-img:hover {
  -webkit-filter: none;
  /* Webkit */
  filter: none;
  /* IE6-9 */
  filter: none;
  /* W3C */
  transition: 1200ms;
}

/*--------------------footer*--------------------*/
.fa-instagram {
  color: white;
}

.fa-facebook {
  color: white !important;
}

.fa-twitter {
  color: white !important;
}

.fa-youtube {
  color: white !important;
}

.pie-pagina {
  width: 100%;
  background-color: #334257 !important;
  margin-top: 20px;
  padding-top: 20px;
  margin-right: 0;
  margin-left: 0;
}

.pie-pagina h2 {
  color: #b0aeae;
}

.pie-pagina ul {
  text-align: center !important;
  padding: 0 !important;
}
