.banner{
    i{
        font-size: 80px;
        color: $secondary-color;
        padding-top: 10px;
    }
    h3{
        color: white;
        color:rgb(59, 124, 181)
    }
    background-color: $main-color;
    margin: 10px;
    border-radius: 20px;
    max-width: 300px;
    min-width: 180px;
    
}
.btn{
    background-color: $secondary-color;
}
.btn:hover{
    background-color: black !important;
    color: white!important;
}
.form-control{
    transition: 0.15s ease;
}
.cuadros{
    animation-duration: 1500ms;
    animation-name: agrandar;
}
/*--------------------------Efecto--------------------------*/
@keyframes agrandar{
    from{
        width: 200%;
        height: 200%;
    }
    to{
        width: 100%;
        height: 100%;
    }
}