.banner{
    i{
        font-size: 80px;
        color: $secondary-color;
        padding-top: 10px;
    }
    h3{
        color: white;
        color:rgb(59, 124, 181)
    }
    background-color: $main-color;
    margin: 10px;
    border-radius: 20px;
    max-width: 300px;
    min-width: 180px;
    
}
.btn{
    background-color: $secondary-color;
}
.btn:hover{
    background-color: black !important;
    color: white!important;
}
