.banner{
    i{
        font-size: 80px;
        color: $secondary-color;
        padding-top: 10px;
    }
    h3{
        color: white;
        color:rgb(59, 124, 181)
    }
    background-color: $main-color;
    margin-right: 10px;
    border-radius: 20px;
    
    
}
