$main-color:#334257;
*{
    list-style: none;
    text-decoration: none!important;
}

/*---------------------------nav---------------------------*/
.contenedor{
    margin-left: auto;
    margin-right: auto;
    padding: 0.35rem;
}
nav{
    background-color: $main-color!important;
    ul li a {
        color: aliceblue !important;
        font-size: 18px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
    }
}

.navbar-brand img{
    transform: scale(0.7);
}
    
li a:hover {
    background-color: #EDEDED;
    color: #000033 !important;
    transition: .2s;
 }
 @media (min-width: 768px){
    #navbarNav ul{
        justify-content: end !important;
    }
 }
 /*------------------------tarjetas------------------------*/
.row{
    justify-content: center;
  
}
@media (max-width: 576px) {
    .col-xs-6 {
      max-width: 16rem;
      min-width: 16rem;
    }}

.card:hover {
    /*--------*Efecto tarjeta*--------*/
    box-shadow: 5px 5px 20px rgba(32, 45, 100, 0.5);
    transform: translateY(-1%);
    transition: .3s;
}
/*---------------Internacion Domiciliaria---------------*/
.servi img{
    height: 9.375rem;
}
.card{
        --bs-card-spacer-y: 0 ;
        h2{
            font-family: 'Mulish', sans-serif;
            color: black;
        }
        
}


/*--------------------footer*--------------------*/

.fa-instagram{
    color: #C13584;
}
.pie-pagina{
    width: 100%;
    background-color: $main-color!important;
    margin-top: 20px;
    padding-top: 20px;
    
    ul li a {
        color: aliceblue !important;
        font-size: 136x;
            padding: 10px 13px;
            border-radius: 3px;
            text-transform: uppercase;
            margin-top: 10px;
            
    }
    ul{
        text-align: center !important;
        padding: 0 !important;
    }


}
