$main-color:#334257;
$secondary-color: #548CA8; 
@import '_como-encontrarnos.scss';
@import '_servicios.scss';
@import '_sobre-nosotros.scss';
@import '_contacto.scss';
*{
    list-style: none;
    text-decoration: none!important;
}

/*---------------------------nav---------------------------*/
.contenedor{
    margin-left: auto;
    margin-right: auto;
    padding: 0.35rem;
}
nav{
    background-color: $main-color!important;
    ul li a {
        color: aliceblue !important;
        font-size: 18px;
            padding: 7px 13px;
            border-radius: 3px;
            text-transform: uppercase;
    }
}

.navbar-brand img{
    transform: scale(0.7);
}
ul li {
    a{  color: aliceblue !important;
        font-size: 13px;
        padding: 10px 13px;
        border-radius: 3px;
        text-transform: uppercase;
        margin-top: 10px;
    }
    a:hover {
        background-color: #EDEDED;
        color: #000033 !important;
        transition: 1s;
            
    }
}
    

 @media (min-width: 768px){
    #navbarNav ul{
        justify-content: end !important;
    }
 }
 /*------------------------tarjetas------------------------*/
.row{
    justify-content: center;
  
}
@media (max-width: 767px) {
    .tarjicono{
        width: 80%!important;
    }
    .servi{
        width: 90%!important;
    }
   

}
@media (max-width: 992px){
    .boton{
        margin-top: 22px;
    }
}


.card:hover {
    /*--------*Efecto tarjeta*--------*/
    box-shadow: 5px 5px 20px rgba(32, 45, 100, 0.5);
    transform: translateY(-1%);
    transition: .3s;
}

/*---------------Internacion Domiciliaria---------------*/

.card{
        --bs-card-spacer-y: 0 ;
        padding-bottom: 10px;
        border: none;
        h2{
            font-family: 'Mulish', sans-serif;
            color: black;
        }
       
        
}
.servicios{
    img{
        
        padding: 3.125rem;
    }
}
.card-img{
   
        -webkit-filter: grayscale(1); /* Webkit */
        filter: gray; /* IE6-9 */
        
        
       
}
.card-img:hover{
    -webkit-filter:none; /* Webkit */
    filter:none; /* IE6-9 */
    filter: none; /* W3C */
    transition: 1200ms;
}


/*--------------------footer*--------------------*/

.fa-instagram{
    color: white;
}
.fa-facebook{
    color: white!important;
}
.fa-twitter{
    color: white!important;
}
.fa-youtube{
    color:white!important;
}
.pie-pagina{
    width: 100%;
    background-color: $main-color!important;
    margin-top: 20px;
    padding-top: 20px;
    margin-right: 0;
    margin-left: 0;
    
    h2{
        color: rgb(176, 174, 174);
    }
    ul{
        text-align: center !important;
        padding: 0 !important;
    }


}
