* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    color: #000033;
}

/*------------------nav------------------*/


.logo {
    top: -13px;
    height: 100px;
   
    position: absolute;
    transform: scale(0.7);
}

nav {
    /*#2b5589*/
    height: 80px;
    background-color: #334257;
    width: 100%;

}

nav ul {
    float: right;
    margin-right: 45px;

}

.enlace {
    position: absolute;
    padding: 20px 50px;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}

nav ul li a {
    color: aliceblue;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

li a:hover {
    background-color: #EDEDED;
    color: #000033;
    transition: .2s;
}

/*------------------contenedores------------------*/
.contenedorcont {
    margin-top: -10px;
    margin: auto;
    margin-right: auto;
    position: relative;
    background: url(img/backro.jpg)no-repeat;
    background-size: cover;
    background-position: center center;
    height: calc(80vh - 80px);
    width: 92%;
    text-align: center;
    
}

.minicontenedor {
    position: absolute;
    width: 70%;
    margin: auto;
    left: 0;
    right: 0;
    padding-top: 20px;
}

.minicontenedor h2 {
    margin-top: 40px;
    color: #000033;
    font-family: 'Mulish', sans-serif;
    font-weight: 1000px;
    font-size: 30px;
}

.minicontenedor p {
    font-family: 'Mulish', sans-serif;
    margin-top: 20px;
    font-size: 17px;

}



/*----------------tarjetas----------------*/
.contenedortarjetas {
    display: flex;
    gap: 10px;
    padding-top: 5px;
    width: 100%;
}

.tarjeta {
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: white;
    box-shadow: 0px 1px 10px rgba(50, 83, 233, 0.2);
    cursor: default;

}

.tarjeta img {
    width: 100%;
    height: 320px;
    color: blue;
    transform: scale(0.7);
}


.tarjeta .contenido {

    padding: 15px;
    text-align: center;
}

.tarjeta .contenido p {
    line-height: 1.5;
    color: grey;
}

.tarjeta:hover {
    /*--------*Efecto tarjeta*--------*/
    box-shadow: 5px 5px 20px rgba(32, 45, 100, 0.5);
    transform: translateY(-1%);
    transition: .3s;
}





/*-----------------------footer-----------------------*/
.pie-pagina {
    width: 100%;
    background-color: #334257;

}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px;
}

.pie-pagina .grupo1 .caja figure {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

.pie-pagina .grupo-1 .caja figure img {
    width: 250px;
}

.pie-pagina .grupo-1 .caja h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;

}

.pie-pagina .grupo-1 .caja ul li {
    text-transform: uppercase;
    font-size: 18px;
    color: #efefef;
    margin-bottom: 15px;

}

.pie-pagina .grupo-1 .redes a {
    display: inline-block;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #000033;
    text-align: center;


}
/*-----------------Nuestros Servicios-----------------*/
.servicioscontenedor{
    text-align: center;

}
.servicioscontenedor h2{
    margin-bottom: 10px;
    font-family: 'Mulish', sans-serif;
    color: #000033;
}
.nuestros-servicios{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    
}


.servimg img{
    width: 400px;
    height: 250px;
   
}

.i{
    text-align: center;
    
}
.i h2{
margin-top: -40px;
color:rgb(6, 25, 92)
    
}
.i:hover{
    box-shadow: 5px 5px 20px rgba(32, 45, 100, 0.5);
    transform: translateY(-1%);
    transition: .3s;
}




/*---------------contacto---------------*/
.contactowrapper {
    width: 100%;
    height: 600px;

    display: flex;

}

.contactowrapper img {
    width: 40%;
    opacity: 79%;


}

.row {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #000033;
    text-align: center;
    border-radius: 30px;

}

.row input {
    margin-left: 0px;
    box-sizing: border-box;
    width: 100%;
    margin: 8px 0;

}

.columna {
    justify-content: center;
    color: white;
    padding: 15px 10px 10px 10px;

}

.row textarea {
    width: 100%;
}

/*------------SERVICIOS------------*/
.contentserv{
    display: flex;
    flex-direction:column-reverse
}


.texto figure img{
    width: 500px;
}
/*------------CONTACTO------------*/


